/AccountManager/.idea/
/TemeratureFinder/.idea/
/HMS/.idea/
/AccountManager/*.iml
/TemeratureFinder/*.iml
/HMS/*.iml
AccountManager/.idea/*.*
AccountManager/.idea/
TemeratureFinder/.idea/*.*
HMS/.idea/*.*
AccountManager/*.iml
TemeratureFinder/*.iml
HMS/*.iml
TaskManager/.idea/
TaskManager/*.iml
TaskManager/.idea/*.*
/TaskManager/.idea/
/TaskManager/*.iml
/TaskManager/.idea/*.*

