# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
run.sh
# Mac
.DS_Store

# Maven
log/
target/
test-output/

WeatherReporter/
Dispensary/
BankApp/.idea/
BankApp/*.iml
BankApp/out/
