# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
run.sh
# Mac
.DS_Store

# Maven
log/
target/
test-output/

Dispensary/
BankApp/
taskmanager/
WeatherReporter/.idea/
WeatherReporter/*.iml
WeatherReporter/out/
